* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.view {
  width: 100%;
  min-height: 100vh;
  background-color: #fefcf4;
  position: relative;
}
.view .header {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 48px;
  width: 100%;
  min-height: 80px;
  background-color: #fefcf4;
  /* box-shadow: 0px 0.5px 3px 0.3px rgba(209, 209, 209, 1); */
  border-bottom: 1px solid #596148;
  position: fixed;
  top: 0;
  left: 0;
}
.view .header .searching {
  /* background-color: aqua; */
  width: 50%;
  height: 30px;
  border-radius: 24px;
  position: relative;
}
.view .header .searching input {
  width: 100%;
  height: 100%;
  /* border-radius: 24px; */
  outline: none;
  outline-color: #4a6700;
  padding: 5px;
  border: 2px solid #596148;
  border-radius: 8px;
}
.view .header .searching img {
  position: absolute;
  height: 18px;
  width: auto;
  right: 0;
  /* top: 1px; */
  margin: 5px 10px;
}

.view .header .fitur {
  background-color: #b6f719;
  /* border: #b3f312 2px solid; */

  border-radius: 24px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #141f00;
}
.view .header .dia {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #141f00;
}
.view .header .avatar {
  height: 30px;
  width: 30px;
  background-color: #9e9e9e;
  border-radius: 30px;
}
.view .content {
  margin-top: 80px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 80px;
  grid-auto-flow: dense;
  grid-gap: 16px 10px;
  padding: 24px 48px;
}
.view .content .banner {
  overflow: hidden;
  position: relative;
  /* width: 100%;
    height: 320px; */
  grid-column: span 5;
  grid-row: span 4;
  /* display: grid; */
  background-color: #b3f312;
  padding: 10px 24px;
  border-radius: 12px;
}
.view .content .banner .siar {
  color: #141f00;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.view .content .banner .siar h1 {
  font-size: 36px;
}
.view .content .banner .siar p {
  font-size: 18px;
}
.view .content .banner .hiasan {
  position: absolute;
  right: -100px;
  top: 10px;
  height: calc(100% - 20px);
  width: 60%;
  background-color: #fff;
  transform: skew(-20deg);
}
.view .content .banner img {
  filter: grayscale(100%);
  position: absolute;
  height: 150px;
  width: auto;
  padding: auto;
  z-index: 1;
  /* right: 110px; */
}
.view .content .banner #satu {
  right: 60px;
  top: 39%;
}
.view .content .banner #dua {
  top: 60px;
  right: 250px;
}
.view .content .banner #tiga {
  right: 460px;
  top: 38%;
}
.view .content .catalog {
  grid-column: span 5;
  /* grid-row: span 0.5; */
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #596148;
  grid-row-gap: 24px;
  color: #4a6700;
  font-size: 20px;
}
.view .content .card {
  background-color: #fefcf4;
  position: relative;
  padding: 12px;
  /* display: grid; */
  grid-column: span 1;
  grid-row: span 4;
  /* background-color: #b3f312; */
  /* box-shadow: 1px 2px 11px 0px rgba(209, 209, 209, 1); */
  border-radius: 6px 6px 3px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: #596148 1px solid;
  /* transition: 0.5s; */
}
.view .content .card:hover {
  box-sizing: border-box;
  border: #b3f312 1px solid;
  /* transition: 0.5s; */
}
.view .content .card .pict {
  width: auto;
  height: 170px;
}
.view .content .card .title {
  color: #121212;
  margin: 10px 0 6px 0;
  font-size: 14px;
  font-weight: lighter;
  width: 100%;
  height: 32px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.view .content .card .rate {
  display: flex;
  width: 100%;
  /* background-color: #b3f312; */
  font-size: 0.85rem;
  align-items: center;
  color: #596148;
}
.view .content .card .rate img {
  height: 16px;
  width: auto;
  margin-right: 8px;
}
.view .content .card .button {
  text-decoration: none;
  margin-top: 12px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.view .content .card .button .cart {
  padding: 6px 10px;
  background-color: #b6f719;
  color: #141f00;
  border-radius: 6px;
  cursor: pointer;
}
.view .content .card .button .cart img {
  height: 20px;
  width: auto;
}
.view .content .card .button .price {
  font-weight: bold;
  font-size: 18px;
  color: #4a6700;
  cursor: pointer;
}

.view .content2 {
  padding: 24px 48px;
  margin-top: 80px;
  width: 100%;
  height: 440px;
  /* background-color: #b6f719; */
  display: flex;
}
.view .content2 .kiri {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 40%;
  height: 100%;
  /* background-color: aqua; */
  border-bottom: 1px solid #000;
}
.view .content2 .kiri img {
  height: 100%;
  width: auto;
  max-width: 320px;
}
.view .content2 .kanan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 60%;
  height: 100%;
  /* background-color: #596148; */
}
.view .content2 .kanan h3 {
  font-size: 20px;
  height: 50px;
}
.view .content2 .kanan .rate {
  display: flex;
  width: 100%;
  /* background-color: #b3f312; */
  font-size: 16px;
  align-items: center;
  color: #596148;
}
.view .content2 .kanan .rate img {
  height: 16px;
  width: auto;
  margin-right: 8px;
}
.view .content2 .kanan h4 {
  font-size: 1.875rem;
  color: #4a6700;
}
.view .content2 .kanan .isi {
  display: flex;
  width: 100%;
  min-height: 24px;
  /* background-color: #b6f719; */
}
.view .content2 .kanan .isi .left {
  display: flex;
  align-items: center;
  width: 20%;
  /* background-color: #596148; */
  color: #596148;
  font-size: 16px;
}
.view .content2 .kanan .isi .righ {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 6px;
  width: 70%;
  /* background-color: #596148; */
}
.view .content2 .kanan .isi .righ .btn {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  /* background-color: #b3f312; */
  border: 1px solid #596148;
  padding: 6px;
}
.view .content2 .kanan .isi .righ p {
  margin: 0 10px;
}
.view .content2 .kanan .cat {
  color: #596148;
  font-size: 16px;
}
.view .content2 .kanan .fungsi {
  width: 100%;
  /* height: 30%; */
  /* background-color: #141f00; */
  display: flex;
}
.view .content2 .kanan .fungsi .keranjang {
  padding: 10px 12px;
  background-color: #dee6c6;
  /* border: #b6f719 2px solid; */
  color: #171e0a;
  height: fit-content;
  margin-right: 24px;
}
.view .content2 .kanan .fungsi .belanja {
  padding: 10px 12px;
  background-color: #b6f719;
  height: fit-content;
  color: #141f00;
}
.view .content3 {
  padding: 24px 48px;
  margin-top: 0px;
  width: 100%;
  /* height: 440px; */
  /* background-color: #b6f719; */
  display: flex;
  flex-direction: column;
}
.view .content3 .des {
  /* padding-bottom: 16px; */
  border-bottom: 1px solid #596148;
}
.view .content3 .des h1 {
  border: 1px solid #596148;
  margin-left: 12px;
  padding: 12px;
  border-bottom: 0;

  width: fit-content;
  color: #4a6700;
  font-size: 18px;
}
.view .content3 .detail {
  margin-top: 12px;
  padding: 16px;
  width: 100%;
}
.view .content3 .detail p {
  padding: 12px;
  /* max-width: 70%; */
  background-color: #dee6c6;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: #121212;
}
.view .wrapper .login {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #dee6c6;
  /* height: 80vh; */
  margin-right: 40px;
  padding: 24px 32px;
  border-radius: 24px;
  /* height: 100%; */
  /* height: 50%; */
}
.view .wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  /* justify-content: end; */
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.view .wrapper .login input {
  padding: 12px;
  border-radius: 24px;
  outline: none;
  margin-top: 12px;
  margin-bottom: 24px;
  border: 0;
}
.view .wrapper .login .button {
  cursor: pointer;
  margin-top: 12px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 12px;
  background-color: #b6f719;
}
.view .wrapper .login p {
  line-height: 20px;
  margin-top: 32px;
  font-size: 14px;
  color: #596148;
}
.view .wrapper .login a {
  color: #121212;
  text-decoration: none;
}
.card {
  overflow: hidden;
}
a {
  text-decoration: none !important;
  text-decoration-line: none;
}
.view .bungkus {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view .bungkus .ingfo {
  border-radius: 6px 6px 3px 3px;
  justify-content: space-between;
  padding: 24px;
  width: 300px;
  height: 420px;
  /* background-color: #9e9e9e; */
  border: 1px solid #596148;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.view .bungkus .ingfo .bulat {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #9e9e9e;
}
.view .bungkus .ingfo .nama,
.email {
  width: 100%;
  border-bottom: 1px solid #596148;
  padding: 12px 0;
}
.view .bungkus .ingfo .logout {
  width: 100%;
  height: fit-content;
  padding: 12px;
  background-color: #b6f719;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px 6px 3px 3px;
}
.view .bungkus .ingfo .menu {
  width: 100%;
  height: fit-content;
  padding: 12px;
  background-color: #dee6c6;
  /* border: #b6f719 2px solid; */
  color: #171e0a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px 6px 3px 3px;
}

.view .content-cart {
  padding: 12px 48px;
  /* margin-top: 2px; */
  width: 100%;
  height: 180px;
  /* background-color: #b6f719; */
  display: flex;
}
.view .content-cart:nth-child(1) {
  margin-top: 80px;
}
.view .content-cart .kiri {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 20%;
  height: 100%;
  /* background-color: aqua; */
  border: 1px solid #000;
}
.view .content-cart .kiri img {
  height: 100%;
  width: auto;
}
.view .content-cart .kanan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border: 1px solid #000;
  border-left: 0px;
  width: 80%;
  height: 100%;
  /* background-color: #596148; */
}
.view .content-cart .kanan h3 {
  font-size: 20px;
  height: 50px;
}
.view .content-cart .kanan .rate {
  display: flex;
  width: 100%;
  /* background-color: #b3f312; */
  font-size: 16px;
  align-items: center;
  color: #596148;
}
.view .content-cart .kanan .rate img {
  height: 16px;
  width: auto;
  margin-right: 8px;
}
.view .content-cart .kanan h4 {
  margin-right: 48px;
  font-size: 1.875rem;
  color: #4a6700;
}
.view .content-cart .kanan .isi {
  display: flex;
  width: 100%;
  min-height: 24px;
  /* background-color: #b6f719; */
}
.view .content-cart .kanan .isi .left {
  display: flex;
  align-items: center;
  width: 10%;
  /* background-color: #596148; */
  color: #596148;
  font-size: 16px;
}
.view .content-cart .kanan .isi .righ {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 6px;
  /* width: 70%; */
  /* background-color: #596148; */
}
.view .content-cart .kanan .isi .righ .btn {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  /* background-color: #b3f312; */
  border: 1px solid #596148;
  padding: 6px;
}
.view .content-cart .kanan .isi .righ p {
  margin: 0 10px;
}
.view .content-cart .kanan .cat {
  color: #596148;
  font-size: 16px;
}
.view .content-cart .kanan .fungsi {
  width: 100%;
  /* height: 30%; */
  /* background-color: #141f00; */
  display: flex;
}
.view .content-cart .kanan .fungsi .keranjang {
  padding: 10px 12px;
  background-color: #dee6c6;
  /* border: #b6f719 2px solid; */
  color: #171e0a;
  height: fit-content;
  margin-right: 24px;
}
.view .content-cart .kanan .fungsi .belanja {
  padding: 10px 12px;
  background-color: #b6f719;
  height: fit-content;
  color: #141f00;
}
